@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-200;
  }

  body {
    @apply text-gray-900;
    font-family: "Ubuntu", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}